@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,600;1,400&family=Libre+Caslon+Display&family=Italianno&family=Saira+Extra+Condensed:wght@400;700&family=The+Nautigal:wght@400;700&family=Whisper&family=Abhaya+Libre:wght@400;600;700&family=Playfair+Display+SC:wght@400;700&family=Archivo&family=Lexend:wght@400;700;700&display=swap');

/* ฟอนต์ Josefin Slab */
.font-josefin {
  font-family: 'Josefin Slab', serif;
}

/* ฟอนต์ Libre Caslon Display */
.font-libre {
  font-family: 'Libre Caslon Display', serif;
}

/* ฟอนต์ Italianno */
.font-italianno {
  font-family: 'Italianno', cursive;
}

/* ฟอนต์ Saira Extra Condensed */
.font-saira {
  font-family: 'Saira Extra Condensed', sans-serif;
}

/* ฟอนต์ The Nautigal */
.font-nautigal {
  font-family: 'The Nautigal', cursive;
}

/* ฟอนต์ Whisper */
.font-whisper {
  font-family: 'Whisper', cursive;
}

/* ✅ ฟอนต์ Abhaya Libre */
.font-abhaya {
  font-family: 'Abhaya Libre', serif;
}

/* ✅ ฟอนต์ Playfair Display SC */
.font-playfairsc {
  font-family: 'Playfair Display SC', serif;
}
.font-archivo {
  font-family: 'Archivo', serif;
}
.font-lexend {
  font-family: 'Lexend Mega', sans-serif;
}


.text-outline {
  color: white;
  text-shadow: 
-2px -2px 0 black,
    -1px -2px 0 black,
     0px -2px 0 black,
     1px -2px 0 black,
     2px -2px 0 black,
    -2px -1px 0 black,
     2px -1px 0 black,
    -2px  0px 0 black,
     2px  0px 0 black,
    -2px  1px 0 black,
     2px  1px 0 black,
    -2px  2px 0 black,
    -1px  2px 0 black,
     0px  2px 0 black,
     1px  2px 0 black,
     2px  2px 0 black;
}