@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,600;1,400&family=Libre+Caslon+Display&family=Italianno&family=Saira+Extra+Condensed:wght@400;700&family=The+Nautigal:wght@400;700&family=Whisper&display=swap');
/* ฟอนต์ Josefin Slab */
.font-josefin {
  font-family: 'Josefin Slab', serif;
}

/* ฟอนต์ Libre Caslon Display */
.font-libre {
  font-family: 'Libre Caslon Display', serif;
}

/* ฟอนต์ Italianno */
.font-italianno {
  font-family: 'Italianno', cursive;
}

/* ฟอนต์ Saira Extra Condensed */
.font-saira {
  font-family: 'Saira Extra Condensed', sans-serif;
}

/* ฟอนต์ The Nautigal */
.font-nautigal {
  font-family: 'The Nautigal', cursive;
}

/* ฟอนต์ Whisper */
.font-whisper {
  font-family: 'Whisper', cursive;
}

/* ตัวอักษรขอบดำแบบวินเทจ */
.fancy-text {
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: 0 2px 5px rgba(0,0,0,0.7), 0 0 10px rgba(0,0,0,0.6);
}